<div class="post">
   <div class="post-header">
      <h1 class="post-title">Post title</h1>

      <button routerLink="/" class="btn btn-link">Home page</button>
   </div>

   <div class="post-info">
      <strong>Author</strong>
      <small>12.12.12</small>
   </div>

   <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident cupiditate accusamus tempore, magnam incidunt nemo rerum doloribus distinctio error, recusandae perspiciatis, expedita natus facilis ipsam nesciunt quos hic consequuntur veniam?</p>
   </div>
</div>